html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ---------------------------------------------------------------- */

body {
    background-color: #eaeaea;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    line-height: 20px;
}

.container {
    width: 800px;
    margin: auto;
    background-color: white;
}

.header {
    padding: 20px;
}

.container .header h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.header .nav a {   
    text-decoration: none;
    color: salmon;
    padding: 5px;
}

.header .nav a:hover {
    background-color: lightskyblue;
    color: white;
    padding: 5px;
}

.header ul li {
    display: inline-block;
    margin: 0;
}

/* Thumbnails */

.thumbnail {
    margin-top: 10px;
    height: 250px;
    background-image: url(../Resource/cornelius-ventures-Ak81Vc-kCf4-unsplash.jpg);
    background-position: 0 -25px;
    background-size: cover;
    border-top: 5px solid salmon;
    border-bottom: 5px solid lightskyblue;
}

/* Penulis */

.content .desk .penulis {
    text-decoration: none;
    color:salmon;
}

.content a:hover {
    background-color: lightskyblue;
    color:white;
}

/* Content */

.content {
    padding: 20px;
}

.content h2 {
    font-size: 28px;
    font-weight: bold;
}

.content .desk {
    margin-top: 7px;
    font-size: 12px;
}

.content p {
    text-align: justify;
    font-size: 14px;
    
}

.content  span {
    background-color: yellow;
}
/*Copyright*/

.copy {
    padding: 14px;
    text-align: center;
    background-color: #333333;
    color: #eaeaea;
    font-size: 13px;
}

.container {
    border: 1px #333333 solid;
}